---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { Matches } from "../../components/Matches";
import { getFase } from "../../helpers/getFase";

export function getStaticPaths() {
  return [
    {params: {fase: 'grupos'}},
    {params: {fase: 'octavos'}},
    {params: {fase: 'cuartos'}},
    {params: {fase: 'semi'}},
    {params: {fase: 'tercer'}},
    {params: {fase: 'final'}}
  ];
}

const { fase } = Astro.params;

const faseSend = getFase(fase)
---

<Layout title="Mundial 2022">
	<Header title={"Partidos - "+faseSend} />
    <div class='flex w-full justify-around flex-wrap gap-2 p-6 max-w-4xl'>
        <a href='/world_cup_2022/' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Inicio</a>
        <a href='/world_cup_2022/partidos/grupos' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Grupos</a>
        <a href='/world_cup_2022/partidos/octavos' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Octavos</a>
        <a href='/world_cup_2022/partidos/cuartos' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Cuartos</a>
        <a href='/world_cup_2022/partidos/semi' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Semi</a>
        <a href='/world_cup_2022/partidos/tercer' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Tercer</a>
        <a href='/world_cup_2022/partidos/final' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Final</a>
    </div>
    <div id="grupos">
        <Matches abrev='all' btns={null} fase={faseSend} client:load/>
    </div>
</Layout>

