---

---
<footer class="border w-full h-auto bottom-0 relative">
    <h1 class="p-10 flex items-center justify-center flex-col h-20 ">
        Información proporcionada por
        <a href="https://github.com/liverday/world-cup-api" target="_blank" class="text-blue-400 hover:text-blue-800">world-cup-api</a>
    </h1>
</footer>